.unified-unit-service .item-img {
    background-color: white!important;
    padding: 5px!important;
}

.unified-unit-service .item-img img {
    margin-bottom: 40px!important;
    vertical-align: bottom!important;
    max-width: 150px!important;
}